/* public css */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:focus {
  outline: none;
}
input[type=text]:focus {
  outline: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.text-right {
  text-align: right;
}
body {
  font-size: 13px;
  color: #262626;
}
body .page {
  background-color: #f4f8fb;
}
.md body .page {
  background-color: #f4f8fb;
}
.page-tip {
  font-size: 12px;
  color: #e98780;
  padding: 13px 10px;
  background-color: #fff;
  line-height: 1.8;
}
.goback {
  position: fixed;
  left: 25px;
  bottom: 100px;
  width: 35px;
  height: 35px;
  background: rgba(0, 0, 0, 0.5) url("../img/goback.png") no-repeat center;
  background-size: 22px auto;
  border-radius: 50%;
}
/* framework7 css reset */
.sheet-backdrop {
  background: rgba(0, 0, 0, 0.35);
}
/* custom module css */
.check-custom {
  position: relative;
}
.check-custom [type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.check-custom [type=checkbox]:checked + .check-icon {
  background: url(../img/check_true.png) no-repeat center;
  background-size: contain;
}
.check-custom .check-icon {
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: url(../img/check_false.png) no-repeat center;
  background-size: contain;
  vertical-align: middle;
}
.check-custom .txt {
  margin-left: 8px;
  vertical-align: middle;
  font-size: 12.66666667;
  color: #202020;
}
.order-line {
  width: 100%;
  height: 3px;
  background: repeating-linear-gradient(135deg, #3c99f6, #3c99f6 20px, #ffffff 20px, #ffffff 40px, #fe5a65 40px, #fe5a65 60px, #ffffff 60px, #ffffff 80px);
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-row-stretch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-rowleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-rowright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-rowcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-col-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.to-icon-grey {
  width: 8px;
  height: 14px;
  background: url("../img/to_icon_grey.png") no-repeat center;
  background-size: contain;
}
.list-ipt.list {
  margin: 0;
}
.list-ipt.list .item-input-focused .item-label {
  color: #28272c;
}
.list-ipt.inline-labels .item-label {
  font-size: 14px;
  padding-top: 8px;
  width: 90px;
}
.list-ipt.list input[type=text],
.list-ipt.list input[type=password] {
  font-size: 14px;
  height: 34px;
}
.list-ipt.list .item-content {
  padding-left: 10px;
}
.list-ipt.list .item-after {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list-ipt.list .item-after .to-icon {
  width: 8px;
  height: 13px;
  background: url(../img/to_icon_grey.png) no-repeat center;
  background-size: contain;
  margin-left: 18px;
}
.list-ipt .item-input-wrap {
  min-height: 34px;
}
.list-ipt .item-input-wrap::after {
  height: 0;
}
.list-ipt.list .item-content {
  min-height: 42px;
  border-bottom: 1px solid #f8f8f8;
}
.list-ipt.list .item-inner {
  min-height: 42px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.list-ipt.list .item-link .item-inner {
  background-image: url("../img/to_icon_grey.png");
}
.list-link.list {
  font-size: 14px;
  margin: 0;
}
.list-link.list ul:before {
  height: 0;
}
.list-link.list ul:after {
  background-color: #efefef;
}
.list-link.list .item-content {
  padding-left: 10px;
}
.list-icon.list {
  background-color: #fff;
  margin: 0;
  font-size: 14px;
}
.list-icon.list .item-content {
  padding-left: 10px;
}
.list-icon.list .item-inner {
  padding-right: 10px;
}
.list-icon.list .item-media {
  min-width: 0;
}
.list-icon.list .item-media + .item-inner {
  margin-left: 15px;
}
.list-icon.list .icon {
  width: 17px;
  height: 16px;
}
.list-icon.list .icon.icon-seller {
  background: url("../img/seller.png") no-repeat center;
  background-size: contain;
}
.list-icon.list .phone-link {
  color: #da192a;
}
.list-icon.list .phone-link .txt {
  vertical-align: middle;
  margin-left: 5px;
}
.list-icon.list .phone-red2 {
  display: inline-block;
  width: 16px;
  height: 17px;
  background: url("../img/phone_red2.png") no-repeat center;
  background-size: contain;
  vertical-align: middle;
}
.panel-shadow {
  -webkit-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 0 2px rgba(0, 0, 0, 0.05);
}
.panel-shadow-top {
  -webkit-box-shadow: -1px 0 2px rgba(0, 0, 0, 0.05);
          box-shadow: -1px 0 2px rgba(0, 0, 0, 0.05);
}
.product-show {
  padding: 15px 20px 15px 10px;
}
.product-show .product-img {
  display: block;
  width: 70px;
  height: 70px;
}
.product-show .product-name {
  margin-left: 8px;
}
.product-show .right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product-show .right .price {
  color: #bd2534;
}
.product-show .right .num {
  color: #3f3e43;
}
.tabbar-custom.toolbar {
  height: 40px;
  background: #fff;
}
.tabbar-custom.toolbar:after {
  height: 1px;
  background: #ddd;
}
.tabbar-custom.toolbar:not(.toolbar-bottom-md):not(.messagebar) ~ * .page-content {
  padding-top: 40px;
}
.tabbar-custom.tabbar a.tab-link {
  color: #2e3136;
}
.tabbar-custom.tabbar a.tab-link.tab-link-active {
  color: #3771f9;
}
.tabbar-custom.tabbar .tab-link-highlight {
  background: #5b8dfe;
}
.tabbar-custom2.toolbar {
  height: 40px;
  background: #fff;
}
.tabbar-custom2.toolbar:after {
  opacity: 0;
}
.tabbar-custom2.toolbar:not(.toolbar-bottom-md):not(.messagebar) ~ * .page-content {
  padding-top: 40px;
}
.tabbar-custom2.tabbar a.tab-link {
  color: #2e3136;
}
.tabbar-custom2.tabbar a.tab-link.tab-link-active {
  color: #3771f9;
}
.tabbar-custom2.tabbar .tab-link-highlight {
  background: #5b8dfe;
}
.tabbar-custom2.tabbar .tab-link-highlight:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: #fff;
}
.tabbar-custom2.tabbar .tab-link-highlight:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  background-color: #fff;
}
.c-tabbar-custom3.toolbar {
  height: 40px;
  background: #fff;
}
.c-tabbar-custom3.toolbar:after {
  opacity: 0;
}
.c-tabbar-custom3.toolbar:not(.toolbar-bottom-md):not(.messagebar) ~ * .page-content {
  padding-top: 40px;
}
.c-tabbar-custom3.tabbar a.tab-link {
  color: #2e3136;
}
.c-tabbar-custom3.tabbar a.tab-link .rank-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(50% + 16px);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.c-tabbar-custom3.tabbar a.tab-link .rank-btn .iconfont {
  color: #656565;
  height: 15px;
  line-height: 15px;
}
.c-tabbar-custom3.tabbar a.tab-link .rank-btn .iconfont.icon-trigon-down {
  margin-top: 3px;
}
.c-tabbar-custom3.tabbar a.tab-link .rank-btn .iconfont.active {
  color: #ff695f;
}
.c-tabbar-custom3.tabbar a.tab-link.tab-link-active {
  color: #3771f9;
}
.c-tabbar-custom3.tabbar .tab-link-highlight {
  height: 2px;
  background: #5b8dfe;
}
.c-tabbar-custom3.tabbar .tab-link-highlight:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 37%;
  height: 100%;
  background-color: #fff;
}
.c-tabbar-custom3.tabbar .tab-link-highlight:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 37%;
  height: 100%;
  background-color: #fff;
}
.c-tabbar-custom3.tabbar .changelist-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  margin: auto;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #323232;
  font-size: 16px;
}
.c-tabbar-custom3.tabbar .changelist-btn.icon-column {
  font-size: 18px;
}
.c-tabbar-custom3 .toolbar-inner {
  left: 0;
  right: 55px;
  width: auto;
}
/* 我的提货订单列表 提取奖励账户 */
.c-searchbar {
  background-color: #f0eff4;
  padding: 8px 7px 8px 8px;
}
.c-searchbar .input-wrap {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  background-color: #fff;
  border-radius: 30px;
  padding: 0 4px 0 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.c-searchbar .input-wrap .icon-sousuo {
  font-size: 15px;
  color: #bbbbbb;
}
.c-searchbar .input-wrap .search-ipt {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  height: 28px;
  margin-left: 5px;
  width: 165px;
}
.c-searchbar .input-wrap .search-ipt::-webkit-input-placeholder {
  color: #bbbbbb;
}
.c-searchbar .input-wrap .search-ipt:-moz-placeholder {
  color: #bbbbbb;
}
.c-searchbar .input-wrap .search-ipt::-moz-placeholder {
  color: #bbbbbb;
}
.c-searchbar .input-wrap .search-ipt:-ms-input-placeholder {
  color: #bbbbbb;
}
.c-searchbar .input-wrap .clear-btn {
  display: none;
  color: #cdcdcd;
}
.c-searchbar .search-btn {
  color: #128deb;
  padding-left: 0;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
.c-searchbar .changelist-btn {
  color: #9c9fa6;
  margin-left: 7px;
  padding: 0 8px;
}
.c-searchbar .icon-guanli {
  margin-left: 14px;
  font-size: 22px;
  color: #5993e7;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
}
.c-searchbar.focus .input-wrap {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.c-searchbar.focus .input-wrap .search-ipt {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: auto;
}
.c-searchbar.focus .search-btn {
  padding-left: 8px;
  width: 36px;
}
.c-searchbar-fixed {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
}
.c-block-btn {
  width: 80%;
  margin: 40px auto 0;
}
.c-block-btn.button.button-fill {
  background-color: #5c8dff;
}
.c-block-btn.button.button-big {
  height: 40px;
  line-height: 40px;
}
.c-block-btn.white.button-fill {
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
}
.c-list-input {
  background-color: #fff;
}
.c-list-input.list {
  font-size: 14px;
  margin: 8px 0 0;
}
.c-list-input.list.inline-labels .item-label {
  font-size: 14px;
  color: #333333;
}
.c-list-input.list select {
  font-size: 14px;
  color: #696971;
}
.c-list-input.list input[type=text] {
  height: 40px;
  font-size: 14px;
}
.c-list-input.list input[type=text].default-val {
  color: #5d8cfe;
}
.c-list-input.list input[type=password] {
  height: 40px;
  font-size: 14px;
}
.c-list-input.list input[type=tel] {
  font-size: 14px;
}
.c-list-input.list input[type=tel].default-val {
  color: #5d8cfe;
}
.c-list-input.list ul:before {
  background-color: #edeef0;
}
.c-list-input.list ul:after {
  background-color: #edeef0;
}
.c-list-input.list .item-content {
  min-height: 40px;
}
.c-list-input.list .item-media {
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}
.c-list-input.list .item-media .iconfont {
  font-size: 20px;
  color: #9c9fa6;
}
.c-list-input.list .item-inner {
  min-height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}
.c-list-input.list .item-content {
  border-bottom: 1px solid #edeef0;
}
.c-list-input.list .item-input-wrap:after {
  opacity: 0;
}
.c-list-input.list .verification-code {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  white-space: nowrap;
  font-size: 14px;
  color: #6887f3;
  width: 100px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.c-list-input.list .verification-code:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 1px;
  height: 45%;
  background-color: #6887f3;
}
.c-list-input.list .verification-code.countdown {
  background-color: #ebebeb;
  color: #fff;
}
.c-list-input.list .verification-code.countdown:before {
  display: none;
}
.c-bottom-btn.button {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.c-bottom-btn.button.button-fill {
  border-radius: 0;
  background-color: #5b8dfe;
}
.c-bottom-btn.button.button-big {
  height: 45px;
  line-height: 45px;
}
.c-login-banner {
  width: 100%;
  min-height: 150px;
  background: url("../img/login_1.png") no-repeat center;
  background-size: cover;
  padding: 10px 0 0;
}
.c-login-banner .logo {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto 13px;
  border-radius: 50%;
}
.c-login-banner .title {
  font-size: 18px;
  color: #fff;
  text-align: center;
}
.c-login-banner .sub-title {
  color: #fff;
  text-align: center;
  font-size: 13px;
  padding-bottom: 2px;
}
.c-register-steps {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 16px 15px;
}
.c-register-steps li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.c-register-steps li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #c0c0c0;
}
.c-register-steps li:first-child::before {
  left: 50%;
}
.c-register-steps li:last-child::before {
  left: auto;
  right: 50%;
}
.c-register-steps li.active .step {
  border: 1px solid #5d8cfe;
  background-color: #5d8cfe;
  color: #fff;
}
.c-register-steps li.active .step-title {
  color: #5d8cfe;
}
.c-register-steps a {
  position: relative;
  z-index: 1;
  display: block;
}
.c-register-steps .step {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  border: 1px solid #d1d1d1;
  font-size: 10px;
  color: #282828;
  margin: 0 auto 8px;
  background-color: #fff;
  outline: 8px solid #fff;
}
.c-register-steps .step-title {
  font-size: 8px;
  color: #282c2f;
  text-align: center;
  white-space: nowrap;
}
.c-product-list {
  margin-top: 10px;
}
.c-product-list li {
  background-color: #fff;
  padding: 0 10px;
  margin-bottom: 10px;
}
.c-product-list .product-info {
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-product-list .product-img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}
.c-product-list .product-detail {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 13px;
}
.c-product-list .product-detail .detail {
  margin-right: 30px;
}
.c-product-list .product-detail .detail:last-child {
  margin-right: 0;
}
.c-product-list .product-detail .name {
  color: #6f6f6f;
}
.c-product-list .product-detail .num {
  margin-left: 8px;
  color: #cd3542;
}
.c-product-list .product-name {
  color: #303030;
}
.c-product-list .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 0;
}
.c-product-list .bottom .btn-replace {
  width: 76px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
.c-product-list .bottom .btn-replace.button-fill {
  background-color: #5d8cfe;
}
.c-product-list .bottom .btn-replace .iconfont {
  margin-right: 5px;
  font-size: 12px;
}
.c-load-tip {
  font-size: 10px;
  color: #2c3033;
  text-align: center;
}
.c-custom-dialog.dialog {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 6px;
}
.c-custom-dialog.dialog .dialog-title {
  margin-bottom: 10px;
  position: relative;
  font-size: 15px;
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #f5f5f5;
}
.c-custom-dialog.dialog .dialog-inner {
  padding-top: 0;
}
.c-custom-dialog.dialog .head-box {
  position: relative;
  width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px auto 0;
}
.c-custom-dialog.dialog .head-box .head {
  width: 100%;
  height: 100%;
}
.c-custom-dialog.dialog .head-box .cancel-btn {
  width: 16px;
  text-align: center;
  height: 16px;
  line-height: 16px;
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #d0d0d0;
  color: #fff;
  font-style: normal;
  border-radius: 50%;
  font-size: 9px;
  cursor: pointer;
}
.c-custom-dialog.dialog .addhead-btn {
  margin: 15px auto 0;
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  border: 1px dashed #598eff;
  font-size: 42px;
  color: #598eff;
  display: none;
}
.c-custom-dialog.dialog .info {
  padding-top: 10px;
  font-size: 13px;
  color: #454449;
  line-height: 1.7;
  text-align: justify;
}
.c-custom-dialog.dialog .icon-close {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -14px;
  margin: auto;
  color: #262626;
  height: 16px;
  line-height: 16px;
}
.c-custom-dialog.dialog .link {
  margin-top: 15px;
  font-size: 13px;
  color: #71b3e7;
  text-decoration: underline;
}
.c-custom-dialog.dialog .question {
  padding-top: 10px;
  font-size: 15px;
  color: #8e8e8e;
  line-height: 1.7;
  text-align: justify;
}
.c-custom-dialog.dialog .ipt-name {
  display: block;
  color: #050505;
  font-size: 13px;
  margin-bottom: 4px;
  margin-top: 10px;
}
.c-custom-dialog.dialog .ipt-box {
  position: relative;
}
.c-custom-dialog.dialog .ipt-box .icon-down {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 8px;
  margin: auto;
  font-size: 14px;
  color: #9e9e9e;
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 14px;
}
.c-custom-dialog.dialog .num-ipt {
  width: 100%;
  height: 34px;
  line-height: 34px;
  border-radius: 34px;
  border: 1px solid #728aca;
  padding: 0 15px;
  font-size: 13px;
}
.c-custom-dialog.dialog .dialog-buttons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.c-custom-dialog.dialog .dialog-button {
  width: 90px;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  background-color: #ebebeb;
  font-size: 13px;
  color: #909090;
  margin: 0 20px;
}
.c-custom-dialog.dialog .dialog-button.btn-confirm {
  background-color: #5b8dfe;
  color: #fff;
}
.c-custom-picker {
  z-index: 13501;
}
.c-custom-picker .toolbar {
  background-color: #fff;
  color: #333;
  border-bottom: 1px solid #eee;
}
.c-custom-picker .toolbar a {
  color: #0066d6;
}
.c-custom-picker .toolbar .title {
  font-size: 16px;
}
.c-custom-picker .picker-columns {
  font-size: 16px;
}
.c-custom-picker .picker-item {
  color: rgba(51, 51, 51, 0.3);
}
.c-custom-picker .picker-item-selected {
  color: #333;
}
.c-add-address {
  height: auto;
  contain: none;
}
.c-add-address .toolbar {
  background: #fff;
  color: #45464a;
  font-size: 16px;
}
.c-add-address .toolbar .sheet-close.link {
  width: 14px;
  height: 14px;
  background: url("../img/close.png") no-repeat center;
  background-size: contain;
}
.c-add-address .sheet-modal-inner {
  padding: 0 8px;
}
.c-add-address .intel-address {
  /*padding: 8px 0;
        border-bottom: 1px solid #f3f3f3;
        .left {
            flex-wrap: wrap; -webkit-flex-wrap: wrap;
        }*/
}
.c-add-address .intel-address.list {
  margin: 0;
}
.c-add-address .intel-address.list ul:before {
  opacity: 0;
}
.c-add-address .intel-address.list ul:after {
  background-color: #dedede;
}
.c-add-address .intel-address.list .item-inner {
  min-height: 35px;
}
.c-add-address .intel-address.list .item-content {
  padding-left: 0;
  min-height: 35px;
}
.c-add-address .intel-address.list .item-link .item-inner {
  padding-right: 23px;
  background-position: right center;
}
.c-add-address .intel-address .item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}
.c-add-address .intel-address .address-text {
  width: 100%;
  height: 65px;
  background-color: #f5f9fc;
  border-radius: 4px;
  font-size: 13px;
  color: #13171a;
  padding-left: 8px;
  padding-right: 8px;
}
.c-add-address .intel-address .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 8px 0 8px;
}
.c-add-address .intel-address .btn-box .cleartext-btn {
  padding: 3px 10px;
  border: 1px solid #f0f0f0;
  border-radius: 15px;
  font-size: 12px;
  color: #4e4e4e;
}
.c-add-address .intel-address .btn-box .sub-btn {
  padding: 3px 10px;
  border: 1px solid #8389b9;
  border-radius: 15px;
  font-size: 12px;
  color: #5773c7;
}
.c-add-address .intel-address .intel-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  background: url("../img/intel_address.png") no-repeat center;
  background-size: contain;
}
.c-add-address .intel-address .tip {
  font-size: 10px;
  color: #aaaaaa;
  margin-right: 15px;
}
.c-add-address .intel-address .to-icon {
  width: 13px;
  height: 8px;
  background: url("../img/to_bottom.png") no-repeat center;
  background-size: contain;
}
.c-add-address .street-info {
  padding: 5px 10px;
  width: 100%;
  height: 43px;
}
.c-add-address .obtain-address {
  padding: 15px 8px;
}
.c-add-address .obtain-address .weixin-address {
  position: relative;
  color: #52b3e8;
  padding-right: 10px;
}
.c-add-address .obtain-address .weixin-address::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 1px;
  height: 70%;
  background-color: #333333;
}
.c-add-address .obtain-address .clear-address {
  padding-left: 10px;
  color: #626367;
}
.c-add-address .save-btn {
  background-color: #5b8dfe;
  font-size: 15px;
}
/* 提取记录 提现余额 支出记录 */
.c-top-banner {
  position: relative;
  width: 100%;
  height: 205px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#729eff), to(#6fa9fd));
  background: linear-gradient(to bottom, #729eff, #6fa9fd);
}
.c-top-banner .wave-box {
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 639px;
  height: 100%;
}
.c-top-banner .waves1,
.c-top-banner .waves2,
.c-top-banner .waves3 {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.c-top-banner .waves1 {
  -webkit-animation: wave 20s infinite linear;
          animation: wave 20s infinite linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.c-top-banner .waves2 {
  -webkit-animation: wave 15s infinite linear;
          animation: wave 15s infinite linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.c-top-banner .waves3 {
  -webkit-animation: wave 10s infinite linear;
          animation: wave 10s infinite linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.c-top-banner .wave {
  width: 639px;
  height: 62px;
}
.c-top-banner .content {
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  font-size: 13px;
  padding-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.c-top-banner .content .money {
  margin: 8px 0;
  font-size: 22px;
  color: #fff;
}
/* 提现余额 */
.c-money-list {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}
.c-money-list li {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding: 10px 0;
}
.c-money-list li:last-child a {
  border-right: none;
}
.c-money-list li a {
  display: block;
  text-align: center;
  border-right: 1px solid #eee;
}
.c-money-list li .name {
  color: #6a6a6a;
}
.c-money-list li .money {
  color: #ff3956;
}
.c-money-list li .money .num {
  font-size: 18px;
  margin-left: 3px;
}
.c-money-list li .money.black {
  color: #16171b;
}
/* 升级列表 */
.c-list-link.list {
  font-size: 13px;
  margin: 5px 0 0;
}
.c-list-link.list ul:after {
  opacity: 0;
}
.c-list-link.list ul:before {
  opacity: 0;
}
.c-list-link.list li {
  background-color: #fff;
}
.c-list-link.list .item-content {
  min-height: 40px;
  padding-left: 10px;
}
.c-list-link.list .item-content .item-inner {
  padding-right: 29px;
  padding-top: 4px;
  padding-bottom: 4px;
  min-height: 40px;
}
.c-list-link.list .item-title .num {
  margin-left: 4px;
  color: #7087d3;
  font-size: 14px;
}
.c-list-link.list .item-after {
  color: #939395;
}
/* 下级贷款充值申请 */
.c-page-notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 10px 12px;
}
.c-page-notice .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fb3127;
  line-height: 1.55;
  text-align: justify;
}
.c-page-notice .icon-cancel-1 {
  color: #fb3127;
  font-size: 18px;
  margin-left: 6px;
  cursor: pointer;
}
/*.c-page-notice {
    &.notification {
        padding: 10px 35px 10px 12px;
        box-shadow: none;
    }
    .notification-header + .notification-content {
        margin-top: 0;
    }
    .notification-text {
        font-size: 13px;
        color: #fb3127;
        line-height: 1.55;
    }
    .notification-close-button {
        width: 18px;
        height: 18px; line-height: normal;
        color: #fb3127;
        position: absolute; top: 0; bottom: 0; margin: auto;
        right: 10px;
        background-image: none;
        font-family: "iconfont" !important;
        font-size: 18px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        &:before {
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0; margin: auto;
            content: "\e622";
            width: auto;
            height:auto;
            opacity: 1;
            background-image: none;
        }
        &:after {
            display: none;
        }
    }
}*/
.c-btn-tip {
  font-size: 13px;
  color: #9c9fa6;
  text-align: center;
  padding-top: 8px;
}
/*支付宝提现账户、收款账户*/
.c-bankcarts li {
  margin-bottom: 10px;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#fc5870), to(#f45d6e));
  background: linear-gradient(to right, #fc5870, #f45d6e);
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  overflow: hidden;
}
.c-bankcarts li > .icon-balance {
  position: absolute;
  top: -15px;
  right: 0;
  font-size: 45px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  color: rgba(255, 255, 255, 0.3);
}
.c-bankcarts li > .icon-alipay-1 {
  position: absolute;
  top: -15px;
  right: 0;
  font-size: 60px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.c-bankcarts li > .icon-wechat {
  position: absolute;
  top: -15px;
  right: 0;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  color: #66d565;
}
.c-bankcarts .top {
  color: inherit;
  padding-bottom: 14px;
}
.c-bankcarts .top .icon-wechat {
  width: 37px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  background-color: #fff;
  color: #66d565;
  border-radius: 50%;
  font-size: 28px;
}
.c-bankcarts .top .icon-alipay {
  width: 37px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  background-color: #fff;
  color: #06a2f7;
  border-radius: 50%;
  font-size: 28px;
}
.c-bankcarts .top .icon-alipay-1 {
  width: 37px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  font-size: 28px;
}
.c-bankcarts .top .icon-balance {
  color: #fff;
  font-size: 28px;
}
.c-bankcarts .top .info {
  margin-left: 10px;
}
.c-bankcarts .top .name {
  margin-bottom: 2px;
}
.c-bankcarts .top .icon-selected {
  display: none;
}
.c-bankcarts .top.selected .icon-selected {
  display: block;
}
.c-bankcarts .toolbox .btn {
  padding: 2px 15px;
  color: #fff;
}
.c-bankcarts .toolbox .btn:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.35);
}
.c-bankcarts.zhifubaos li {
  background: -webkit-gradient(linear, left top, right top, from(#4099eb), to(#359fe9));
  background: linear-gradient(to right, #4099eb, #359fe9);
}
.c-bankcarts.wechat li {
  background: -webkit-gradient(linear, left top, right top, from(#66d565), to(#66d565));
  background: linear-gradient(to right, #66d565, #66d565);
}
.c-bankcarts.wechat li .wechat-qrcode {
  margin-left: 20px;
  width: 60px;
  height: 60px;
}
.c-bankcarts2 li {
  margin-bottom: 10px;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#fc5870), to(#f45d6e));
  background: linear-gradient(to right, #fc5870, #f45d6e);
  border-radius: 4px;
  color: #fff;
  overflow: hidden;
}
.c-bankcarts2 li > .icon-balance {
  position: absolute;
  top: -15px;
  right: 0;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fa5a6e;
}
.c-bankcarts2 li > .icon-alipay-1 {
  position: absolute;
  top: -15px;
  right: 0;
  font-size: 60px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.c-bankcarts2 li > .icon-wechat {
  position: absolute;
  top: -15px;
  right: 0;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  color: #66d565;
}
.c-bankcarts2 .top {
  position: relative;
  color: inherit;
  padding: 18px 10px;
}
.c-bankcarts2 .top .icon-wechat {
  width: 37px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  background-color: #fff;
  color: #66d565;
  border-radius: 50%;
  font-size: 28px;
}
.c-bankcarts2 .top .icon-alipay {
  width: 37px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  background-color: #fff;
  color: #06a2f7;
  border-radius: 50%;
  font-size: 28px;
}
.c-bankcarts2 .top .icon-alipay-1 {
  width: 37px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  font-size: 28px;
}
.c-bankcarts2 .top .icon-balance {
  width: 37px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  background-color: #fff;
  color: #f95a6e;
  border-radius: 50%;
  font-size: 28px;
}
.c-bankcarts2 .top .info {
  margin-left: 10px;
}
.c-bankcarts2 .top .name {
  margin-bottom: 2px;
}
.c-bankcarts2 .top .icon-selected {
  display: none;
}
.c-bankcarts2 .top.selected .icon-selected {
  display: block;
}
.c-bankcarts2 .toolbox {
  position: absolute;
  right: 0;
  bottom: 10px;
}
.c-bankcarts2 .toolbox .btn {
  padding: 2px 15px;
  color: #fff;
}
.c-bankcarts2 .toolbox .btn:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.35);
}
.c-bankcarts2.zhifubaos li {
  background: -webkit-gradient(linear, left top, right top, from(#4099eb), to(#359fe9));
  background: linear-gradient(to right, #4099eb, #359fe9);
}
.c-bankcarts2.wechat li {
  background: -webkit-gradient(linear, left top, right top, from(#66d565), to(#66d565));
  background: linear-gradient(to right, #66d565, #66d565);
}
.c-bankcarts2.wechat li .wechat-qrcode {
  margin-left: 20px;
  width: 60px;
  height: 60px;
}
/*邀请代理界面*/
.c-tip-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
.c-tip-box .tip {
  float: right;
  width: 65%;
}
.c-mem-list li {
  margin-bottom: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.c-mem-list .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 16px 10px 10px;
  text-decoration: none;
}
.c-mem-list .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-mem-list .left .tag {
  font-size: 10px;
  color: #c7c6b4;
  padding: 2px 8px;
  background-color: #020202;
  border-radius: 30px;
  margin-top: 4px;
}
.c-mem-list .head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 8px;
}
.c-mem-list .name {
  font-size: 16px;
  color: #656565;
}
.c-mem-list .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-mem-list .right .top {
  margin-bottom: 4px;
}
.c-mem-list .right .txt {
  font-size: 12px;
  color: #959595;
  margin-right: 5px;
}
.c-mem-list .right .num {
  font-size: 12px;
  color: #e87292;
}
.c-mem-list .to-icon {
  display: block;
  width: 8px;
  height: 14px;
  background: url("../img/to_icon.png") no-repeat center;
  background-size: contain;
  margin-left: 16px;
}
/*内购购物车*/
.c-cartnull-tip {
  padding-top: 60px;
}
.c-cartnull-tip .icon-cart {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 120px;
  font-size: 50px;
  color: #313038;
}
.c-cartnull-tip .txt {
  margin-top: 25px;
  font-size: 13px;
  color: #979b9e;
  text-align: center;
}
.c-tabs-fixed .tab {
  height: calc(100vh - 84px);
  overflow: auto;
  padding-bottom: 54px;
}
.c-tabs-fixed2 .tab {
  padding-top: 84px !important;
}
.c-top-modal {
  position: absolute;
  left: 0;
  top: 44px;
  bottom: 0;
  z-index: 501;
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
}
.c-top-modal .modal-content {
  background-color: #fff;
  padding: 10px 10px 15px;
  min-height: 90px;
}
/*待发货商品统计、库存记录*/
.c-topnav.toolbar {
  height: 50px;
  background: #f5f6f8;
}
.c-topnav.toolbar .toolbar-inner {
  background-color: #fff;
  width: 55%;
  height: 40px;
  top: 10px;
  right: 0;
  margin: auto;
}
.c-topnav.toolbar .segmented .button {
  border-left: none;
}
.c-topnav.toolbar::after {
  opacity: 0;
}
.c-topnav.toolbar .button:not(.button-fill):not(.button-fill-md) {
  color: #2e3136;
}
.c-topnav.tabbar a.tab-link {
  font-size: 16px;
}
.c-topnav.tabbar a.tab-link.button.tab-link-active {
  background-color: #5b8dfe;
  color: #fff;
}
.c-topnav .segmented.segmented-raised {
  -webkit-box-shadow: none;
          box-shadow: none;
}
/* 我 */
.dialog-buttons-3.dialog {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.dialog-buttons-3 .dialog-inner {
  display: none;
}
.dialog-buttons-3.dialog-buttons-vertical .dialog-buttons {
  padding-bottom: 0;
}
.dialog-buttons-3.dialog-buttons-vertical .dialog-buttons .dialog-button {
  height: 56px;
  line-height: 56px;
  text-align: left;
  color: #393939;
  font-size: 16px;
}
.dialog-buttons-3.dialog-buttons-vertical .dialog-buttons .dialog-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #dadada;
}
.dialog-buttons-3.dialog-buttons-vertical .dialog-buttons .dialog-button:last-child::after {
  display: none;
}
/* 波浪动画 */
@-webkit-keyframes wave {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes wave {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
