* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:focus {
  outline: none;
}
input[type=text]:focus {
  outline: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.text-right {
  text-align: right;
}
body {
  font-size: 14px;
  color: #262626;
}
.page-tip {
  font-size: 12px;
  color: #e98780;
  padding: 13px 10px;
  background-color: #fff;
  line-height: 1.8;
}
.goback {
  position: fixed;
  left: 25px;
  bottom: 100px;
  width: 35px;
  height: 35px;
  background: rgba(0, 0, 0, 0.5) url("../img/goback.png") no-repeat center;
  background-size: 22px auto;
  border-radius: 50%;
}
.check-custom {
  position: relative;
}
.check-custom [type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.check-custom [type=checkbox]:checked + .check-icon {
  background: url(../img/check_true.png) no-repeat center;
  background-size: contain;
}
.check-custom .check-icon {
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: url(../img/check_false.png) no-repeat center;
  background-size: contain;
  vertical-align: middle;
}
.check-custom .txt {
  margin-left: 8px;
  vertical-align: middle;
  font-size: 12.66666667;
  color: #202020;
}
.order-line {
  width: 100%;
  height: 3px;
  background: repeating-linear-gradient(135deg, #3c99f6, #3c99f6 20px, #ffffff 20px, #ffffff 40px, #fe5a65 40px, #fe5a65 60px, #ffffff 60px, #ffffff 80px);
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-row-stretch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-rowleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-rowright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-rowcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-col-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.to-icon-grey {
  width: 8px;
  height: 14px;
  background: url("../img/to_icon_grey.png") no-repeat center;
  background-size: contain;
}
.list-ipt.list {
  margin: 0;
}
.list-ipt.inline-labels .item-label {
  font-size: 14px;
  padding-top: 8px;
}
.list-ipt.list input[type=text] {
  font-size: 14px;
  height: 34px;
}
.list-ipt .item-input-wrap {
  min-height: 34px;
}
.list-ipt .item-input-wrap::after {
  height: 0;
}
.list-ipt.list .item-content {
  min-height: 42px;
  border-bottom: 1px solid #f8f8f8;
}
.list-ipt.list .item-inner {
  min-height: 42px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.list-ipt.list .item-link .item-inner {
  background-image: url("../img/to_icon_grey.png");
}
.list-link.list {
  font-size: 14px;
  margin: 0;
}
.list-link.list ul:before {
  height: 0;
}
.list-link.list ul:after {
  background-color: #efefef;
}
.list-icon.list {
  background-color: #fff;
  margin: 0;
  font-size: 14px;
}
.list-icon.list .item-content {
  padding-left: 10px;
}
.list-icon.list .item-inner {
  padding-right: 10px;
}
.list-icon.list .item-media {
  min-width: auto;
}
.list-icon.list .item-media + .item-inner {
  margin-left: 15px;
}
.list-icon.list .icon {
  width: 17px;
  height: 16px;
}
.list-icon.list .icon.icon-seller {
  background: url("../img/seller.png") no-repeat center;
  background-size: contain;
}
.list-icon.list .phone-link {
  color: #da192a;
}
.list-icon.list .phone-link .txt {
  vertical-align: middle;
  margin-left: 5px;
}
.list-icon.list .phone-red2 {
  display: inline-block;
  width: 16px;
  height: 17px;
  background: url("../img/phone_red2.png") no-repeat center;
  background-size: contain;
  vertical-align: middle;
}
.panel-shadow {
  -webkit-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 0 2px rgba(0, 0, 0, 0.05);
}
.panel-shadow-top {
  -webkit-box-shadow: -1px 0 2px rgba(0, 0, 0, 0.05);
          box-shadow: -1px 0 2px rgba(0, 0, 0, 0.05);
}
.product-show {
  padding: 15px 20px 15px 10px;
}
.product-show .product-img {
  display: block;
  width: 70px;
  height: 70px;
}
.product-show .product-name {
  margin-left: 8px;
}
.product-show .right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product-show .right .price {
  color: #bd2534;
}
.product-show .right .num {
  color: #3f3e43;
}
.tabbar-custom.toolbar {
  height: 40px;
  background: #fff;
}
.tabbar-custom.toolbar:after {
  opacity: 0;
}
.tabbar-custom.toolbar:not(.toolbar-bottom-md):not(.messagebar) ~ * .page-content {
  padding-top: 40px;
}
.tabbar-custom.tabbar a.tab-link {
  color: #2e3136;
}
.tabbar-custom.tabbar a.tab-link.tab-link-active {
  color: #3771f9;
}
.tabbar-custom.tabbar .tab-link-highlight {
  background: #5b8dfe;
}
.tabbar-custom2.toolbar {
  height: 40px;
  background: #fff;
}
.tabbar-custom2.toolbar:after {
  opacity: 0;
}
.tabbar-custom2.toolbar:not(.toolbar-bottom-md):not(.messagebar) ~ * .page-content {
  padding-top: 40px;
}
.tabbar-custom2.tabbar a.tab-link {
  color: #2e3136;
}
.tabbar-custom2.tabbar a.tab-link.tab-link-active {
  color: #3771f9;
}
.tabbar-custom2.tabbar .tab-link-highlight {
  background: #5b8dfe;
}
.tabbar-custom2.tabbar .tab-link-highlight:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: #fff;
}
.tabbar-custom2.tabbar .tab-link-highlight:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  background-color: #fff;
}
.c-searchbar {
  background-color: #f0eff4;
  padding: 8px 7px 8px 8px;
}
.c-searchbar .input-wrap {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  background-color: #fff;
  border-radius: 30px;
  padding: 0 4px 0 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.c-searchbar .input-wrap .icon-sousuo {
  font-size: 15px;
  color: #bbbbbb;
}
.c-searchbar .input-wrap .search-ipt {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  height: 28px;
  margin-left: 5px;
  width: 165px;
}
.c-searchbar .input-wrap .search-ipt::-webkit-input-placeholder {
  color: #bbbbbb;
}
.c-searchbar .input-wrap .search-ipt:-moz-placeholder {
  color: #bbbbbb;
}
.c-searchbar .input-wrap .search-ipt::-moz-placeholder {
  color: #bbbbbb;
}
.c-searchbar .input-wrap .search-ipt:-ms-input-placeholder {
  color: #bbbbbb;
}
.c-searchbar .input-wrap .clear-btn {
  display: none;
  color: #cdcdcd;
}
.c-searchbar .search-btn {
  color: #128deb;
  padding-left: 0;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
.c-searchbar .changelist-btn {
  color: #9c9fa6;
  margin-left: 7px;
  padding: 0 8px;
}
.c-searchbar.focus .input-wrap {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.c-searchbar.focus .input-wrap .search-ipt {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: auto;
}
.c-searchbar.focus .search-btn {
  padding-left: 8px;
  width: 36px;
}
.c-block-btn {
  width: 80%;
  margin: 40px auto 0;
}
.c-block-btn.button.button-fill {
  background-color: #5c8dff;
}
.c-block-btn.button.button-big {
  height: 40px;
  line-height: 40px;
}
.c-list-input {
  background-color: #fff;
}
.c-list-input.list {
  font-size: 14px;
  margin: 8px 0 0;
}
.c-list-input.list.inline-labels .item-label {
  font-size: 14px;
  color: #333333;
}
.c-list-input.list select {
  font-size: 14px;
  color: #696971;
}
.c-list-input.list input[type=text] {
  height: 40px;
  font-size: 14px;
}
.c-list-input.list input[type=text].default-val {
  color: #5d8cfe;
}
.c-list-input.list input[type=password] {
  height: 40px;
  font-size: 14px;
}
.c-list-input.list input[type=tel] {
  font-size: 14px;
}
.c-list-input.list input[type=tel].default-val {
  color: #5d8cfe;
}
.c-list-input.list ul:before {
  background-color: #edeef0;
}
.c-list-input.list ul:after {
  background-color: #edeef0;
}
.c-list-input.list .item-content {
  min-height: 40px;
}
.c-list-input.list .item-media {
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}
.c-list-input.list .item-media .iconfont {
  font-size: 20px;
  color: #9c9fa6;
}
.c-list-input.list .item-inner {
  min-height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}
.c-list-input.list .item-content {
  border-bottom: 1px solid #edeef0;
}
.c-list-input.list .item-input-wrap:after {
  opacity: 0;
}
.c-list-input.list .verification-code {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  white-space: nowrap;
  font-size: 14px;
  color: #6887f3;
  width: 100px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.c-list-input.list .verification-code:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 1px;
  height: 45%;
  background-color: #6887f3;
}
.c-list-input.list .verification-code.countdown {
  background-color: #ebebeb;
  color: #fff;
}
.c-list-input.list .verification-code.countdown:before {
  display: none;
}
.c-bottom-btn.button {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.c-bottom-btn.button.button-fill {
  border-radius: 0;
  background-color: #5b8dfe;
}
.c-bottom-btn.button.button-big {
  height: 45px;
  line-height: 45px;
}
.c-login-banner {
  width: 100%;
  min-height: 150px;
  background: url("../img/login_1.png") no-repeat center;
  background-size: cover;
  padding: 10px 0 0;
}
.c-login-banner .logo {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto 13px;
  border-radius: 50%;
}
.c-login-banner .title {
  font-size: 18px;
  color: #fff;
  text-align: center;
}
.c-login-banner .sub-title {
  color: #fff;
  text-align: center;
  font-size: 13px;
  padding-bottom: 2px;
}
.c-register-steps {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 16px 15px;
}
.c-register-steps li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.c-register-steps li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #c0c0c0;
}
.c-register-steps li:first-child::before {
  left: 50%;
}
.c-register-steps li:last-child::before {
  left: auto;
  right: 50%;
}
.c-register-steps li.active .step {
  border: 1px solid #5d8cfe;
  background-color: #5d8cfe;
  color: #fff;
}
.c-register-steps li.active .step-title {
  color: #5d8cfe;
}
.c-register-steps a {
  position: relative;
  z-index: 1;
  display: block;
}
.c-register-steps .step {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  border: 1px solid #d1d1d1;
  font-size: 10px;
  color: #282828;
  margin: 0 auto 8px;
  background-color: #fff;
  outline: 8px solid #fff;
}
.c-register-steps .step-title {
  font-size: 8px;
  color: #282c2f;
  text-align: center;
  white-space: nowrap;
}
.c-product-list {
  margin-top: 10px;
}
.c-product-list li {
  background-color: #fff;
  padding: 0 10px;
  margin-bottom: 10px;
}
.c-product-list .product-info {
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-product-list .product-img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}
.c-product-list .product-detail {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 13px;
}
.c-product-list .product-detail .detail {
  margin-right: 30px;
}
.c-product-list .product-detail .detail:last-child {
  margin-right: 0;
}
.c-product-list .product-detail .name {
  color: #6f6f6f;
}
.c-product-list .product-detail .num {
  margin-left: 8px;
  color: #cd3542;
}
.c-product-list .product-name {
  color: #303030;
}
.c-product-list .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 0;
}
.c-product-list .bottom .btn-replace {
  width: 76px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
.c-product-list .bottom .btn-replace.button-fill {
  background-color: #5d8cfe;
}
.c-product-list .bottom .btn-replace .iconfont {
  margin-right: 5px;
  font-size: 12px;
}
.c-load-tip {
  font-size: 10px;
  color: #2c3033;
  text-align: center;
}
